<br><br><br>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
          <div class="col-sm-6">
            <h2>Pikaz ispita</h2>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>Naziv predmeta</th>
            <th>Datum</th>
            <th>Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ep of examinationPeriods">
            <td>
              &nbsp;
            </td>
            <td>{{ep.subject.name}}</td>
            <td>{{ep.date}}</td>
            <td>
              <button (click)="addApplyinExam(ep.subject.id)" type="submit" name="btn_continuar" class="btn btn-primary right">Prijavi</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 